/* content page css */

.homePage {
    margin-left: 280px;
    height: 100vh;
    width: calc(100% - 280px);
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.close~.homePage {
    margin-left: 88px;
    width: calc(100% - 88px);
}

.homePage .homePage-base {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.homePage .homePage-base .head {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #0000dc; */
    background-color: var(--clr-3);
}

.homePage .homePage-base .head .head-1 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.homePage .homePage-base .head .head-1 .head-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.homePage .homePage-base .head .head-1 .head-text .pannel-heading {
    font-size: 30px;
    margin-left: 20px;
    color: var(--clr-5);
    font-weight: normal;
}

.homePage .homePage-base .head .head-1 .Profile {
    height: auto;
    width: auto;
    /* background-color: red; */
}

.homePage .homePage-base .head .head-1 .Profile {
    height: auto;
    width: auto;
    background-color: var(--clr-bg);
    /* background-color: #00ff91; */
    border-radius: 6px;
    padding: 5px;
}

.homePage .homePage-base .head .head-1 .Profile .pro-1 {
    height: auto;
    width: auto;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.homePage .homePage-base .head .head-1 .Profile .pro-1 .pro-img {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    /* background-color: #00ff91; */
}

.homePage .homePage-base .head .head-1 .Profile .pro-1 .pro-img img {
    border-radius: 50%;
}

.homePage .homePage-base .head .head-1 .Profile .pro-1 .pro-name i {
    color: var(--clr-5);
    font-size: 2rem;
}

.homePage .homePage-base .head .head-1 .Profile .pro-1 .pro-name i:nth-child(1):hover {
    color: var(--clr-2);
}

.homePage .homePage-base .head .head-1 .Profile .pro-1 .pro-name i:nth-child(2):hover {
    color: var(--clr-1);
}

.homePage .homePage-base .v7_3 {
    height: auto;
    width: auto;
    padding: 10px;
    /* background-color: red; */
    margin-top: 10px;
}

.homePage .homePage-base .v7_3 .v7_4 {
    height: auto;
    width: auto;
    padding: 10px;
    /* background-color: yellow; */
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 {
    height: auto;
    width: auto;
    /* background-color: green; */
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 {
    color: var(--clr-5);
    padding: 10px;
    /* background-color: #0000dc; */
    height: auto;
    width: auto;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont {
    /* background-color: red; */
    height: auto;
    width: auto;
    padding: 10px;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont {
    font-size: 18px;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont .input-base {
    height: auto;
    width: auto;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont .input-base div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 10px;
    /* background-color: #0000dc; */
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont .input-base div .input-field {
    gap: 10px;
    height: auto;
    width: auto;
    /* background-color: #00ff91; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont .input-base input,
.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont .input-base select {
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    margin-top: 20px;
    font-weight: bold;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_cont .input-base input[type="button"] {
    background: var(--clr-2);
    padding: 10px;
    font-size: 15px;
    color: var(--clr-3);
    letter-spacing: 2px;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_table {
    height: auto;
    width: auto;
    /* background-color: #00ff91; */
    padding: 10px;
    margin-top: 20px;
    overflow-x: auto;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_table table,
.homePage .homePage-base th,
.homePage .homePage-base td {
    padding: 10px;
    border: 5px solid var(--clr-5);
    color: var(--clr-5);
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_table table {
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.homePage .homePage-base .v7_3 .v7_4 .v7_5 .v7_6 .v7_6_table table th {
    background-color: var(--clr-3);
    text-align: left;
}


/* ====================================================================================== */


/* ====================================================================================== */


/* ====================================================================================== */

@media (max-width:1300px) {}

@media (max-width:1000px) {}

@media (max-width:900px) {}


/* ====================================================================================== */

@media (max-width:800px) {}


/* ====================================================================================== */

@media (max-width:700px) {
    .homePage .homePage-base .head .head-1 .head-text {
        display: none;
    }
    .homePage .homePage-base .head .head-1 {
        justify-content: flex-end;
    }
    .homePage .homePage-base .ss_head {
        display: block;
    }
}

@media (max-width:750px) {}

@media (max-width:630px) {}


/* ======================================================================================*/

@media (max-width:500px) {
    .homePage .homePage-base .box-2 .box-2_1_1 {
        height: auto;
    }
    .homePage .homePage-base .box-2 .box-2_1_1 .box-cont {
        background: none;
    }
    .sidebar {
        z-index: 200;
        width: 90%;
    }
    .homePage {
        z-index: 90;
    }
    .homePage .homePage-base .head .head-1 .head-text .pannel-heading {
        display: none;
    }
    .homePage .homePage-base .head .head-1 .Profile {
        background: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }
    .homePage .homePage-base .head .head-1 .Profile .pro-1 .pro-img {
        height: 40px;
        width: 40px;
    }
    .homePage .homePage-base .head .head-1 .Profile .pro-name {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    .homePage .homePage-base .head .head-1 .Profile .pro-1 .pro-name i {
        font-size: 30px;
    }
}